@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-200 antialiased;
  }
}

@layer utilities {
  .animate-scan {
    animation: scan 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes scan {
  0% {
    top: 0;
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}